<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SignWave Register</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="./styler.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  
</head>
<body>
  <div class="container">
    <div class="section">
      <div class="container2">
        <img
          class="_66303513-e-76-c-9555-d-5583-b-46-register-2520-bg-p-1600-png"
          src="reg2.png"
        />
        <img
          class="_66303513-e-76-c-9555-d-5583-b-43-main-20-gradient-png"
          src="reg1.png"
        />
      </div>
      <div class="container3">
        <div class="form-email-form-2">
          <div class="label-email-address">Email Address</div>
          <div class="input">
            <div class="container4">
              <div class="business-mail-com">business@mail.com</div>
            </div>
          </div>
          <div class="label-password">Password</div>
          <div class="input2">
            <div class="container4">
              <div class="min-8-character">min 8 character.</div>
            </div>
          </div>
          <div class="label-password84">Re-enter Password</div>
          <div class="input84">
            <div class="container4">
              <div class="min-8-character">min 8 character.</div>
            </div>
          </div>
          
          
          
          
          <div class="input3">
            <div class="login">Login</div>
          </div>
       
        </div>
        
        
        <div class="container5">
          <div class="background">
            <div class="sign-wave-register">SignWave Register</div>
          </div>
          <div class="heading-1-welcome-otake">Welcome SignWave!</div>
        </div>
        <div class="already-have-an-account">Already have an account?</div>
        <a href="../Login/login.html" class="btn-link">
        <div class="link3">
          <div class="login2">Login</div>
        </div>
      </a>
      </div>
    </div>
    
</body>
</html>
