<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="./stylet.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>SignWave</title>
</head>
<body>
  <div class="body">
    <div class="container">
      <div class="section">
        <div class="container2">
          <img
            class="_66303513-e-76-c-9555-d-5583-b-1-e-about-2520-pattern-p-1600-png"
            src="text1t.png"
          />
          <div class="section2">
            <div class="container3">
              
              <div class="heading-3-our-growth-journey">
                Convert Text and Audio to Sign Language
              </div>
              <div
                class="provide-your-input-and-sign-wave-will-transform-it-into-indian-sign-language-animations-instantly"
              >
                Provide your input, and SignWave will transform it into Indian
                Sign Language animations instantly.
              </div>
            </div>
            <img
              class="_66303513-e-76-c-9555-d-5583-b-45-contact-20-gradient-png"
              src="text4t.png"
            />
            <div class="background-shadow"></div>
            <div class="input">
              <textarea 
                class="input-field" 
                placeholder="Enter text here..."
              ></textarea>
            </div>
            
            <div class="click-to-record-audio-input">
              Click to record audio input.
            </div>
            <img class="voice-mail" src="voice-mail0t.svg" />
            <img class="ellipse-2" src="ellipse-20t.svg" />
            <div class="or">Or</div>
            <div class="enter-the-text-below">Enter the text below</div>
          </div>
        </div>
      </div>
      <div class="background-shadow2">
        <img
          class="gesto-sordomudo-del-car-cter-del-lenguaje-de-signos-del-vector-ilustraci-n-del-vector-ilustraci-n-de-muchacha-sonriente-136500579-1"
          src="gesto-sordomudo-del-car-cter-del-lenguaje-de-signos-del-vector-ilustraci-n-del-vector-ilustraci-n-de-muchacha-sonriente-136500579-10.png"
        />
      </div>
      <div class="banner">
        <div class="container5">
          <div class="link-home">
            <div class="_66303513-e-76-c-9555-d-5583-af-2-logo-svg">
              <div class="_66303513-e-76-c-9555-d-5583-af-2-logo-svg-fill">
                <div class="_66303513-e-76-c-9555-d-5583-af-2-logo-svg2">
                  <img class="clip-path-group" src="clip-path-group0t.svg" />
                </div>
              </div>
            </div>
            <div class="sign-wave">SignWave</div>
          </div>
          
          
          <div class="navigation">
            <div class="link2">
              <a href="../Home.html" class="btn-link">
              <div class="home">Home</div>
            </a>
            </div>
            <a href="../Home.html#section2" class="btn-link">
            <div class="link3"></div>
          
            <div class="feature">Feature</div>
          </a>
          <a href="../Home.html#container4" class="btn-link">
            <div class="services">Services</div>
            <div class="link4"></div>
          </a>
          </div>
        </div>
      </div>
      <div class="otake-design-about">
        <div class="body2">
          <div class="container6">
            <div class="section">
              <div class="container2">
                <img
                  class="_66303513-e-76-c-9555-d-5583-b-1-e-about-2520-pattern-p-1600-png"
                  src="text2t.png"
                />
                <div class="section2">
                  <div class="container3">
                    <div class="heading-3-our-growth-journey">
                      Convert Text and Audio to Sign Language
                    </div>
                    <div
                      class="provide-your-input-and-sign-wave-will-transform-it-into-indian-sign-language-animations-instantly"
                    >
                      Provide your input, and SignWave will transform it into
                      Indian Sign Language animations instantly.
                    </div>
                  </div>
                  <img
                    class="_66303513-e-76-c-9555-d-5583-b-45-contact-20-gradient-png"
                    src="text3t.png"
                  />
                  <div class="background-shadow">
                    <div class="link5">
                      <div class="convert-to-sign-language">
                        Convert to Sign Language
                      </div>
                    </div>
                  </div>
                  <div class="input">
                    <div class="container4">
                      <div class="enter-text-here">Enter text here...</div>
                    </div>
                  </div>
                  <div class="click-to-record-audio-input">
                    Click to record audio input.
                  </div>
                  <img class="voice-mail2" src="voice-mail1t.svg" />
                  <img class="ellipse-22" src="ellipse-21t.svg" />
                  <div class="or">Or</div>
                  <div class="enter-the-text-below">Enter the text below</div>
                </div>
              </div>
            </div>
            <div class="background-shadow3">
              <img
                class="gesto-sordomudo-del-car-cter-del-lenguaje-de-signos-del-vector-ilustraci-n-del-vector-ilustraci-n-de-muchacha-sonriente-136500579-12"
                src="gesto-sordomudo-del-car-cter-del-lenguaje-de-signos-del-vector-ilustraci-n-del-vector-ilustraci-n-de-muchacha-sonriente-136500579-11.png"
              />
            </div>
            <div class="section3"></div>
            <div class="banner">
              <div class="container7">
                <div class="link-home2">
                  <div class="_66303513-e-76-c-9555-d-5583-af-2-logo-svg">
                    <div class="_66303513-e-76-c-9555-d-5583-af-2-logo-svg-fill">
                      <div class="_66303513-e-76-c-9555-d-5583-af-2-logo-svg2">
                        <img
                          class="clip-path-group2"
                          src="clip-path-group1t.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="sign-wave2">SignWave</div>
                </div>
                
                <div class="link6">
                  <div class="try-for-free2">Sign In</div>
                </div>
                <div class="navigation">
                  <div class="link2">
                    <div class="home2">Home</div>
                  </div>
                  <div class="link3"></div>
                  <div class="feature2">Feature</div>
                  <div class="services2">Services</div>
                  <div class="link4"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
